:root.theme-dark {

  --cover-image: url('../images/cover-image-dark.png');

  --title-colour: var(--night-blue);
  --title-background-colour: var(--red);
  --section-title-colour: var(--red);
  --main-text-colour: var(--light-pink);
  --main-title-colour: var(--purple);
  --accent-colour: var(--red);
  --menu-colour: var(--red);
  --hover-menu-color: var(--red-transparent);

  --decor-line-size: 25px;
  --decor-element: flex;

}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
