:root.theme-light {
  --cover-image: url('../images/cover-image-light.png');
  --decotated-zone-colour: rgba(53, 52, 48, 1);
  --title-colour: rgba(53, 52, 48, 1);
  --title-background-colour: rgba(255, 141, 203, 1);
  --section-title-colour: rgba(53, 52, 48, 1);
  --main-text-colour: rgba(53, 52, 48, 1);
  --main-title-colour: rgba(255, 194, 230, 1);
  --accent-colour: rgba(255, 141, 203, 1);
  --menu-colour: rgba(53, 52, 48, 1);
  --decor-element: none;
}

.theme-light .page {
  .header__decorated-element {
    display: var(--decor-element);
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --cover-image: url('../images/cover-image-light.png');
  --decotated-zone-colour: rgba(53, 52, 48, 1);
  --title-colour: rgba(53, 52, 48, 1);
  --title-background-colour: rgba(255, 141, 203, 1);
  --section-title-colour: rgba(53, 52, 48, 1);
  --main-text-colour: rgba(53, 52, 48, 1);
  --main-title-colour: rgba(255, 194, 230, 1);
  --accent-colour: rgba(255, 141, 203, 1);
  --menu-colour: rgba(53, 52, 48, 1);
  --decor-element: none;
  }

  .theme-light .page {
    .header__decorated-element {
      display: var(--decor-element);
    }
  }
}
